@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


body{ font-family: 'Poppins'; font-size: 16px;}
h1,h2,h3,h4,h5,h6{ font-family: 'Poppins'; }

::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: #EEEEEE; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #AAAAAA; 
  }


/*inner header*/
.header { padding: 6px 10px; background: #FFFFFF 0% 0% no-repeat padding-box; box-shadow: 0px 0px 4px #00000029; opacity: 1; margin-bottom: 2px; }
.header .logo_left img{ height: 50px; padding: 7px; }
.header .navbar { padding: 0; }
.header .navbar .container-fluid { padding: 0; }
.header .right_btn { float: right; }

.header .right_btn .btn_signup { border: none; background: none; font-size: 16px; color: #000; margin-left: 10px; padding: 7px 10px 7px 10px; }

.header .right_btn button.btn.dropdown-toggle.login-btn { text-align: left; font: normal normal normal 18px/21px Poppins; letter-spacing: 0px; color: #000000; opacity: 1; }
.header .right_btn .dropdown-menu.show { top: 45px; left: -30px; }
.header .right_btn .dropdown-item.active, .dropdown-item:active { color: #fff; text-decoration: none; background-color: #F05336; }
.header .right_btn .dropdown-item:focus, .dropdown-item:hover { color: #fff; background-color: #F05336; }

.header .custom-dropdown-menu { width: auto; min-width: 120px; padding: 0; text-align: center; }

/*seller panel*/

.dashboard .side-bar { background: #fff; padding: 20px 13px; height: 100%; }
.dashboard .side-bar img { width: 20px; }

.dashboard .col-md-2 { padding: 0; }
.dashboard .side-bar span{ padding-left: 10px; font-size: 16px; font-weight: 400; color: #333333; }
.dashboard .side-bar button { width: 100%; border: none; margin-bottom: 15px; padding: 10px 8px; background: #F4F4F4 0% 0% no-repeat padding-box; border-radius: 8px; opacity: 1; text-align: left; }
.dashboard .side-bar p img { width: 20px; }
.dashboard .main-area { padding: 20px 10px; }

.dashboard .account { padding: 40px 50px; }
.dashboard .account .account-area { background: #fff; padding: 10px 18px 10px 18px; margin-top: 10px; border: 1px solid #E4E4E4; border-radius: 32px; opacity: 1; }
.dashboard .account .account-area label { font-size: 14px; color: #333333; }
.dashboard .account .account-area input.form-control { font-size: 14px; color: #333333; font-weight: 500; }
.dashboard .account .account-area input.form-control.mail { font-size: 14px; color: #333333; font-weight: 400; background: #F1F1F1; }
.dashboard .account .account-area input.form-control.tel { font-size: 14px; color: #707070; font-weight: 400; }

.dashboard .account .account-area .button-area { float: inline-end; padding-top: 110px; }
.dashboard .account .account-area .button-area button.view { background: #E75E15 0% 0% no-repeat padding-box; border-radius: 4px; opacity: 1; color: #fff; padding: 7px 15px; border: none; font-size: 14px; font-weight: 500; margin-right: 10px; }
.dashboard .account .account-area .button-area button.cancel { float: inline-end; border: 1px solid #333333; border-radius: 4px; opacity: 1; padding: 6px 15px; font-size: 14px; font-weight: 500; background: #fff; }

.dashboard .account .heading h2 { font-size: 20px; font-weight: 600; }
.dashboard .account .heading h3 { font-size: 16px; font-weight: 500; color: #333333; margin-bottom: 18px; }

.dashboard .account .error-message.text-danger { color: #F05336 !important; font-size: 12px; }

.dashboard .category { background-color: #fff; border-radius: 32px; padding-right: 20px; }
.dashboard .category .col-md-4 { padding-right: 0; }
.dashboard .category .col-md-8 { padding-left: 0; }
.dashboard .category .category-sidebar { padding: 25px 13px; height: 100%; width: 90%; border-top-left-radius: 32px; border-bottom-left-radius: 32px; background: #F05336; }
.dashboard .category .category-sidebar ul { list-style-type: none; padding: 0; margin: 0; }
.dashboard .category .category-sidebar ul li { margin: 15px 0; }

/* .dashboard .category .category-sidebar li a { display: block; text-decoration: none; padding: 3px 8px; color: #fff; }
.dashboard .category .category-sidebar a.active { width: 100%; border: none; padding: 10px 8px; background: #fff; color: #F05336; border-radius: 10px; opacity: 1; text-align: left; font-size: 14px; font-weight: 400; text-decoration: none; } */

.dashboard .category .main-area { margin-left: -20px; }
.dashboard .category .category-sidebar img { width: 20px; }
.dashboard .category .category-sidebar .category-heading h2 { font-size: 18px; font-weight: 500; color: #fff; margin-bottom: 25px; }
.dashboard .category .main-area .heading-main h3 { font-size: 20px; font-weight: 500; padding-bottom: 15px; }
.dashboard .category .main-area label { font-size: 16px; font-weight: 500;}
.dashboard .category .main-area .venu-heading h3 { font-size: 16px; font-weight: 500; }
.dashboard .category .main-area input { border-radius: 4px; border: 1px solid #e4e4e4; padding: 10px 15px; font-size: 14px; font-weight: 400; color: #707070; }
.dashboard .category .main-area .next-btn { padding: 5px 35px; background: #F05336; color: #fff; border: 3px solid #F05336; border-radius: 4px; font-size: 14px; text-decoration: none; }
.dashboard .category .main-area .button-area { padding: 120px 0 0 0; text-align: center; }

.dashboard .category .main-area .ca-heading h5 { font-size: 14px; font-weight: 500; }
.dashboard .category .main-area .ca-image img { padding: 10px 15px 0 15px; width: 91px; }
.dashboard .category .main-area .ca-image p { margin: 0; color: #333333; font-size: 12px; width: 94px; }

.dashboard .category .main-area.date-time .input-group .custom-select-arrow { background: url('../images/dropdown.png') no-repeat right 10px center; background-size: 15px; cursor: pointer; }
.dashboard .category .main-area.date-time select { border-radius: 4px; border: 1px solid #e4e4e4; padding: 10px 15px; font-size: 14px; font-weight: 400; color: #707070; }

.dashboard .category .main-area.category-languages .lang-tab { padding-top: 120px; }
.dashboard .category .main-area.category-languages .lang-tab .lang-heading { padding-bottom: 10px; }
.dashboard .category .main-area.category-languages .lang-tab .lang-btn button { border: 1px solid #E4E4E4; border-radius: 4px; padding: 2px 10px; background: #fff; font-size: 16px; color: #333333; margin: 10px 0; }
.dashboard .category .main-area.category-languages .button-area { padding: 50px 0 0 0; text-align: center; }
.dashboard .category .main-area.organiser-details .button-area { padding: 50px 0 0 0; text-align: center; }
.dashboard .category .main-area.event-description .add-btn { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 6px 12px; margin-left: 10px; }
.dashboard .category .main-area.event-description .button-area { padding: 20px 0 0 0; text-align: center; }
/* .dashboard .category .main-area.event-description #artistGallery { width: 122px; height: 110px; background: #F5F5F5; border-radius: 8px; border: 1px solid #F5F5F5; } */

.dashboard .category .main-area.event-description #artistGallery { width: 122px; height: 110px; background: #F5F5F5; border-radius: 8px; border: 1px solid #F5F5F5; cursor: pointer; }
.dashboard .category .main-area.event-description #imagePreview img { margin: 5px; width: 100px; height: 100px; object-fit: cover; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); transition: transform 0.2s ease-in-out; border-radius: 8px; }
.dashboard .category .main-area.event-description #imagePreview img:hover { transform: scale(1.1); }
.dashboard .category .main-area.event-description .remove-img { position: absolute; top: 5px; right: 5px; background: #000; color: #fff; border: none; border-radius: 50%; cursor: pointer; height: 24px; }
.dashboard .category .main-area.event-description .image-container { position: relative; display: inline-block; }

.dashboard .category .main-area.tickets #sittingImage { width: 122px; height: 110px; background: #F5F5F5; border-radius: 8px; border: 1px solid #F5F5F5; cursor: pointer; }
.dashboard .category .main-area.tickets #sittingImagePreview img { margin: 5px; width: 100px; height: 100px; object-fit: cover; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); transition: transform 0.2s ease-in-out; border-radius: 8px; }
.dashboard .category .main-area.tickets #sittingImagePreview img:hover { transform: scale(1.1); }
.dashboard .category .main-area.tickets .remove-img { position: absolute; top: 5px; right: 5px; background: #000; color: #fff; border: none; border-radius: 50%; cursor: pointer; height: 24px; }
.dashboard .category .main-area.tickets .image-container { position: relative; display: inline-block; }

.dashboard .category .main-area.event-description .ck.ck-editor__main>.ck-editor__editable:not(.ck-focused) { height: 200px; color: #707070; font-size: 14px; font-weight: 400; }
.dashboard .category .main-area.event-description .ck-rounded-corners .ck.ck-editor__main>.ck-editor__editable, .ck.ck-editor__main>.ck-editor__editable.ck-rounded-corners { height: 200px; color: #707070; font-size: 14px; font-weight: 400; }
.dashboard .category .main-area.event-description .ck.ck-toolbar.ck-toolbar_grouping { background: #E7ECED; }
.dashboard .category .main-area.event-description .ck.ck-button.ck-disabled.ck-off { background: #fff; }
.dashboard .category .main-area.event-description .ck.ck-button.ck-off { background: #fff; }

.dashboard .category .main-area.banner-images .image-note { color: #707070; font-size: 14px; }
.dashboard .category .main-area.tickets .add-ticket-btn { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 10px 15px; }
.dashboard .category .main-area.tickets .add-ticket-btn img.add-t { width: 15px; margin-right: 10px; }
.dashboard .category .main-area.tickets .sitting-arrang-btn { color: #F05336; border: 1px solid #F05336; border-radius: 4px; padding: 10px 15px; margin-left: 15px; background: #fff; }
.dashboard .category .main-area.tickets .sitting-arrang-btn img.add-sit { width: 15px; margin-right: 10px; }

.dashboard .category .main-area.tickets #addTicketModal .ticket-modal-footer { float: right; padding-top: 10px; }
.dashboard .category .main-area.tickets .add-ticket { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 7px 20px; }
.dashboard .category .main-area.tickets table th { background: #F5F5F5; }
.dashboard .category .main-area.tickets table th.t-name { padding: 10px 40px; font-size: 14px; font-weight: 500; color: #6C6C6C; }
.dashboard .category .main-area.tickets table th.t-qty { padding: 10px 15px; font-size: 14px; font-weight: 500; color: #6C6C6C; }
.dashboard .category .main-area.tickets table th.t-price { padding: 10px 15px; font-size: 14px; font-weight: 500; color: #6C6C6C; }
.dashboard .category .main-area.tickets table th.t-min-order { padding: 10px 15px; font-size: 14px; font-weight: 500; color: #6C6C6C; }
.dashboard .category .main-area.tickets table th.t-max-order { padding: 10px 15px; font-size: 14px; font-weight: 500; color: #6C6C6C; }
.dashboard .category .main-area.tickets table th.action { padding: 10px 15px; font-size: 14px; font-weight: 500; color: #6C6C6C; }

.dashboard .category .main-area.tickets .button-area { padding: 200px 0 0 0; text-align: center; }
.dashboard .category .main-area.tickets .ticket-table { width: 100%; border-collapse: collapse; }

.dashboard .category .main-area.tickets .ticket-table th { border: 1px solid #ddd; text-align: center; }
.dashboard .category .main-area.tickets .ticket-table td { border: 1px solid #ddd; text-align: center; padding: 5px 0; font-size: 14px; font-weight: 400; color: #6C6C6C; }
.dashboard .category .main-area.tickets .ticket-table .edit-pen { width: 15px; margin: 0 10px 0 35px; }
.dashboard .category .main-area.tickets .ticket-table .del { width: 15px; margin: 0 35px 0 10px; }

.dashboard .category .main-area.tickets #addTicketModal select { border-radius: 4px; border: 1px solid #e4e4e4; padding: 10px 15px; font-size: 14px; font-weight: 400; color: #707070; }
.dashboard .category .main-area.tickets #addTicketModal .input-group .custom-select-arrow { background: url('../images/dropdown.png') no-repeat right 10px center; background-size: 15px; cursor: pointer; }
.dashboard .category .main-area.tickets #addTicketModal .custom-calendar { background: url('../images/calendar.png') no-repeat right 10px center; background-size: 20px; cursor: pointer; }
.dashboard .category .main-area.tickets #addTicketModal #ticketDesc { min-height: 80px; resize: none; border: 1px solid #E4E4E4; font-size: 14px; font-weight: 400; }


.dashboard .category .main-area.other-details .add-ticket-btn img.add-t { width: 15px; margin-right: 10px; }
.dashboard .category .main-area.other-details .add-ticket-btn { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 7px 20px; }

.dashboard .category .main-area.other-details .add-faq-btn img.add-t { width: 15px; margin-right: 10px; }
.dashboard .category .main-area.other-details .add-faq-btn { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 7px 10px; }

.dashboard .category .main-area.other-details label { font-size: 16px; font-weight: 400; }
.dashboard .category .main-area.other-details .button-area { padding: 20px 0 0 0; text-align: center; }
.dashboard .category .main-area.other-details .post-event-btn { padding: 5px 70px; background: #F05336; color: #fff; border: 3px solid #F05336; border-radius: 4px; font-size: 16px; text-decoration: none; }
.dashboard .category .main-area.other-details .social input { border-left: none; border-bottom-left-radius: 0; border-top-left-radius: 0; }

.dashboard .category .main-area.other-details .termField { min-height: 140px; resize: none; border: 1px solid #E4E4E4; font-size: 14px; font-weight: 400; }





/* .dashboard .category .category-sidebar a { transition: background-color 0.3s ease, color 0.3s ease; } */
.dashboard .category .category-sidebar li a { display: block; text-decoration: none; padding: 3px 8px; color: #fff; font-size: 14px; font-weight: 500; }
.dashboard .category .category-sidebar a.active { width: 100%; border: none; padding: 10px 8px; background: #fff; color: #F05336; border-radius: 10px; opacity: 1; text-align: left; font-size: 14px; font-weight: 500; text-decoration: none; }




/*Promo page*/


/* .dashboard.promo-area .add-ticket-btn { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 10px 15px; } */
.dashboard.promo-area .promo { padding: 40px 50px; }
.dashboard.promo-area .promo h2 { font-size: 20px; font-weight: 600; padding-bottom: 10px; }
.dashboard.promo-area .promo h4 { font-size: 16px; font-weight: 400; color: #333333; padding-bottom: 15px; }
.dashboard.promo-area .add-promo { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 10px 20px; }

.dashboard.promo-area #addPromoModal input { border-radius: 4px; border: 1px solid #e4e4e4; padding: 10px 15px; font-size: 14px; font-weight: 400; color: #707070; }
.dashboard.promo-area #addPromoModal .input-group .custom-select-arrow { background: url(../images/dropdown.png) no-repeat right 10px center; background-size: 15px; cursor: pointer; }
.dashboard.promo-area #addPromoModal select { border-radius: 4px; border: 1px solid #e4e4e4; padding: 10px 15px; font-size: 14px; font-weight: 400; color: #707070; }
.dashboard.promo-area #addPromoModal .percent input { width: 55%; }
.dashboard.promo-area #addPromoModal .promo-modal-footer { text-align: center; padding-top: 30px; }
.dashboard.promo-area #addPromoModal .add-promo { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 7px 20px; }
.dashboard.promo-area #addPromoModal .percent-input-wrapper { position: relative; width: 50%; }
.dashboard.promo-area #addPromoModal .percent-input-wrapper input { padding-right: 30px; width: 50%; }
.dashboard.promo-area #addPromoModal .percent-input-wrapper .percent-sign { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none; color: #707070; right: 53%; }



/*Attendance page*/

.dashboard.attendance-area .attendance { padding: 40px 50px; }
.dashboard.attendance-area .attendance h2 { font-size: 20px; font-weight: 600; padding-bottom: 10px; }
.dashboard.attendance-area .attendance h4 { font-size: 16px; font-weight: 400; color: #333333; padding-bottom: 15px; }
.dashboard.attendance-area .add-attendance { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 10px 20px; }

.dashboard.attendance-area #addAttenModal input { border-radius: 4px; border: 1px solid #e4e4e4; padding: 10px 15px; font-size: 14px; font-weight: 400; color: #707070; }
.dashboard.attendance-area #addAttenModal .input-group .custom-select-arrow { background: url(../images/dropdown.png) no-repeat right 10px center; background-size: 15px; cursor: pointer; }
.dashboard.attendance-area #addAttenModal select { border-radius: 4px; border: 1px solid #e4e4e4; padding: 10px 15px; font-size: 14px; font-weight: 400; color: #707070; }
.dashboard.attendance-area #addAttenModal .percent input { width: 55%; }
.dashboard.attendance-area #addAttenModal .promo-modal-footer { text-align: center; padding-top: 30px; }
.dashboard.attendance-area #addAttenModal .add-promo { background: #F05336; color: #fff; border: none; border-radius: 4px; padding: 7px 20px; }
/* .dashboard.attendance-area #addAttenModal .percent-input-wrapper { position: relative; width: 50%; }
.dashboard.attendance-area #addAttenModal .percent-input-wrapper input { padding-right: 30px; width: 50%; }
.dashboard.attendance-area #addAttenModal .percent-input-wrapper .percent-sign { position: absolute; right: 10px; top: 50%; transform: translateY(-50%); pointer-events: none; color: #707070; right: 53%; } */

.dashboard.attendance-area #addAttenModal .modal-content { border-radius: 32px; border: 1px solid transparent; }
.dashboard.attendance-area #addAttenModal .modal-body { padding: 0; }
.dashboard.attendance-area #addAttenModal .modal-body .attendance-modal-area { padding: 0; }


.dashboard.attendance-area #addAttenModal .att-m { background-color: #fff; border-radius: 32px; padding-right: 20px; }
.dashboard.attendance-area #addAttenModal .att-m .col-md-4.t-right { padding-right: 0; }
/* .dashboard.attendance-area #addAttenModal .att-m .col-md-8 { padding-left: 0; } */
.dashboard.attendance-area #addAttenModal .att-m .att-sidebar { padding: 25px 13px; height: 100%; width: 100%; border-top-left-radius: 29px; border-bottom-left-radius: 29px; background: #F05336; border: none; }
.dashboard.attendance-area #addAttenModal .att-m .att-sidebar ul { list-style-type: none; padding: 0; margin: 0; }
.dashboard.attendance-area #addAttenModal .att-m .att-sidebar ul li { margin: 15px 0; }
.dashboard.attendance-area #addAttenModal .att-m .att-sidebar a.active { width: 100%; border: none; padding: 10px 8px; background: #fff; color: #F05336; border-radius: 10px; opacity: 1; text-align: left; font-size: 14px; font-weight: 500; text-decoration: none; }
.dashboard.attendance-area #addAttenModal .att-m .att-sidebar li a { display: block; text-decoration: none; padding: 3px 8px; color: #fff; font-size: 14px; font-weight: 500; }
.dashboard.attendance-area #addAttenModal .att-m .att-sidebar .att-heading h2 { font-size: 18px; font-weight: 500; color: #fff; margin-bottom: 25px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .next-btn { padding: 5px 35px; background: #F05336; color: #fff; border: 3px solid #F05336; border-radius: 4px; font-size: 14px; text-decoration: none; }

.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .heading-main h3 { margin-bottom: 20px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area label { font-size: 16px; font-weight: 500; }

.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table { width: 100%; border-collapse: collapse; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table th { border: 1px solid #ddd; text-align: center; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table td { border: 1px solid #ddd; text-align: center; padding: 8px 0; font-size: 14px; font-weight: 400; color: #6C6C6C; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table .edit-pen { width: 15px; margin: 0 10px 0 35px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table .del { width: 15px; margin: 0 35px 0 10px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table th { background: #F5F5F5; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table th.t-name { width: 280px; text-align: left; padding: 10px 0 0 10px; font-size: 14px; font-weight: 600; color: #6C6C6C; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table th.t-sold { padding: 10px 40px; font-size: 14px; font-weight: 600; color: #6C6C6C; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table th.t-price { padding: 10px 40px; font-size: 14px; font-weight: 600; color: #6C6C6C; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table th.t-qty { padding: 10px 40px; font-size: 14px; font-weight: 600; color: #6C6C6C; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table th.t-face { padding: 10px 40px; font-size: 14px; font-weight: 600; color: #6C6C6C; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table td.tick-name { padding: 8px 0 8px 10px; text-align: left; }

.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table select { padding: 5px 10px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table .input-group .custom-select-arrow { background: url(../images/dropdown.png) no-repeat right 8px center; background-size: 14px; cursor: pointer; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table .input-group { width: 50%; margin: 0 auto; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table input { border-radius: 4px; border: 1px solid #e4e4e4; padding: 6px 10px; font-size: 14px; font-weight: 400; color: #707070; width: 80%; }


.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table .input-wrapper { position: relative; display: inline-block; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table .currency-symbol { position: absolute; left: 25px; top: 50%; transform: translateY(-50%); font-size: 14px; font-weight: 500; color: #000; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .ticket-table .input-wrapper input { padding-left: 20px; padding-right: 10px; font-size: 16px; width: 80%; }

/* .dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper { float: right; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper { position: relative; display: inline-block; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .currency-symbol { position: absolute; left: 10px; top: 50%; transform: translateY(-50%); font-size: 14px; font-weight: 500; color: #000; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper input { padding-left: 20px; padding-right: 10px; font-size: 16px; width: 80%; background: #F5F5F5; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper input::placeholder { text-align: right; } */


.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value { padding-bottom: 110px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper { display: flex; align-items: center; float: right; gap: 10px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .currency-symbol { font-size: 14px; font-weight: 500; color: #000; margin-left: 5px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper input { padding-left: 20px; padding-right: 10px; font-size: 16px; width: 50%; background: #F5F5F5; border: 1px solid #ccc; border-radius: 4px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper input::placeholder { text-align: right; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper .label { font-size: 16px; font-weight: 500; color: #333; margin-right: 10px; }

.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area .total-value .input-wrapper input { direction: rtl; text-align: right; padding-left: 20px; padding-right: 10px; font-size: 16px; background: #F5F5F5; border: 1px solid #ccc; border-radius: 4px; }



.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.reg-information .h-main h3 { font-size: 18px; font-weight: 500; margin-bottom: 20px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.reg-information .check-box { padding-bottom: 20px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.reg-information .mail-send { padding-bottom: 150px; }


/*summery*/

.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .t-img { width: 100%; height: 120px; border-radius: 8px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .order-p { font-size: 14px; margin-bottom: 5px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .order-m { font-size: 14px; margin-bottom: 5px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .order-type { margin-bottom: 5px; font-size: 16px; font-weight: 500; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area { border: 1px solid #E4E4E4; border-radius: 8px; padding: 10px 0 0 0; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .order-name { font-size: 18px; font-weight: 500; padding-bottom: 0; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .order-time-heading { font-size: 16px; font-weight: 500; color: #333333; padding-bottom: 0; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .col-md-3.photo { padding: 0; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .total-area { background: #E4E4E4; padding: 0; margin-top: 10px; }
.dashboard.attendance-area #addAttenModal .attendance-modal-area .main-area.order-summary .ticket-area .total-area .col-md-4.total-aa { float: right; }





